{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}
<script type="text/javascript">
 (function() {
   const searchbox = document.getElementById("searchbox");
   const site_query = document.getElementById("site_query").value;
   const search_query = document.getElementById("search_query");

   searchbox.onsubmit = function() {
     const q = encodeURIComponent(search_query.value);
     document.location.assign("https://google.com/search?q=" + site_query + "+" + q);
     return false;
   };
 })()
</script>
